/* Main images & colours */
body {
  background-color: #b3d9ff;
}
h1 {
  color: #1b5466;
  font-family: verdana;
  font-size: 250%;
}
h2 {
  color: darkred;
  font-family: verdana;
  font-size: 50px;
}
p {
  color: slatered;
  font-family: verdana;
  font-size: 20px;
} 
p2 {
  color: slatered;
  font-family: verdana;
  font-size: 10px;
}
p3 {
  color: slatered;
  font-family: verdana;
  font-size: 20px;
}
p4 {
  color: slatered;
  font-family: verdana;
  font-size: 50px;
} 
p5 {
  color: slatered;
  font-family: verdana;
  font-size: 17px;
}
p6 {
  color: slatered;
  font-family: verdana;
  font-size: 15px;
}
footer {
  color: slatered;
  font-family: verdana;
  font-size: 10px;
}
.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* This makes the background darker when you hover over the button */
.btn:hover {
  background-color: red;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #1b5466;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
/* Taken from W3 Schools */
div {
  width: 100px;
  height: 30px;
  background: #1b5466;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}
#div1 {-webkit-transition-timing-function: linear;}
#div1 {transition-timing-function: linear;}
div:hover {
  width: 225px;
  height: 30px;
}

/* End of things that i copied */
button {
  background: #1b5466;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 250px;
}
button2 {
  background: #1b5466;
  font-size: 20px;
  text-align: center;
  height: 100px;
  width: 250px;
}
div2 {
  background-color: #1b5466;
  width: 100px;
  padding: 10px;
  border: 10px solid navy;
  position: centre;
}
div3 {
  background: #1b5466;
  font-size: 10px;
  text-align: center;
  height: 50px;
  width: 250px;
}
a:visited {
  color: white;
}


